.root {
    width: 100%;
    height: 100%;
}

.background {
    right: auto;
    left: auto;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    background-image: url("project://database/Assets/UI/Images/TXT_MainMenuBackground.png?fileID=2800000&guid=6a0af1de97d7d1c4794d2d9db28b881a&type=3#TXT_MainMenuBackground");
    -unity-background-scale-mode: stretch-to-fill;
    opacity: 1;
    position: relative;
}
